[Unit]
Description=Change i3 theme

[Service]
Type=forking
ExecStart=/my-tools/dotfiles/i3/theme-changer/set-random-theme.sh

[Install]
WantedBy=default.target
